body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}

nav {
    display: flex;
    padding: 15px 40px;
    background: #222;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 120px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #4a90e2;
    color: white;
}

.btn {
    background: white;
    padding: 10px 20px;
    color: #4a90e2;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

footer {
    margin-top: 40px;
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}